@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #121212;
    --color2: #212121;
    --color3: #535353;
    --color4: #b3b3b3;
    --color5: #1db954;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color2);
}
header {
    background-image: linear-gradient(to bottom, var(--color1), var(--color2));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding: 30px;
}
header > h1 {
    color: rgba(255, 0, 0, 0.877);
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p {
    font-size: 1.2em;
    color: rgb(254, 114, 114);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}
nav {
    padding: 10px;
}
nav > a {
    color: var(--color3);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}
nav > a:hover {
    background-color: var(--color3);
    color: rgb(231, 129, 129);
}
main {
    background-color: rgba(234, 95, 95, 0.599);
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
main h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
main h2 {
    color: white;
    font-size: 1.3em;
    font-weight: 1px;
    text-indent: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
article > p {
    color: white;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}
#títulotext {
    text-align: center;
    font-size: 1.7em;
}
.subtítulo {
    text-align: center;
    text-indent: 0px;
    font-size: 1.1em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.66);
}
aside {
    background-color: rgba(234, 95, 95, 0.599);
    color: white;
    border-radius: 20px;
    text-indent: 0px;
    padding: 20px;
}
aside > h1, aside p {
    margin: 10px;
}
aside > div:hover {
    background-color: rgba(255, 92, 92, 0.675);
    transform: scale(1.1);
    border-radius: 10px;
    transition: 0.5s;
}
aside a {
    text-decoration: none;
    color: White;
}
footer {
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}