@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #121212;
    --color2: #212121;
    --color3: #535353;
    --color4: #b3b3b3;
    --color5: #1db954;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color2);
}
header {
    background-image: linear-gradient(to bottom, var(--color1), var(--color2));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding: 30px;
}
header > h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p {
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}
nav {
    padding: 10px;
}
nav > a {
    color: green;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}
nav > a:hover {
    background-color: var(--color3);
    color: rgb(0, 224, 0);
}
main {
    background-color: var(--color3);
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
}
main h1 {
    color: white;
    font-weight: normal;
}
main h2 {
    color: greenyellow;
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
}
main p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}
footer {
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}